name: Build and Push on DockerHub

on:
  push:
    branches:
      - main

env:
  IMAGE: palateo93/poopmastersbot

jobs:
  build-push:
    name: Build and Push
    runs-on: ubuntu-latest
    environment: production

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    # Build the Docker image
    - name: Build
      run: |-
        docker build \
          --tag "$IMAGE:$GITHUB_SHA" \
          --build-arg GITHUB_SHA="$GITHUB_SHA" \
          --build-arg GITHUB_REF="$GITHUB_REF" \
          .

    # Push the Docker image to DockerHub
    - name: Publish
      run: |-
        docker push "$IMAGE:$GITHUB_SHA"
